body{
    background-image: url(gnd2.jpeg);
    width: 1500px;
    height: 1500px;
    background-repeat: no-repeat;
    background-size: cover;
    

}
.text{color:rgb(153, 255, 0);font-family: sans-serif;font-size: medium};
.text{color:blue;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif};

  